projectflow.json
[{"id":"61bd99ec.28678","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8255a3f9.3e6c98","type":"debug","z":"61bd99ec.28678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":60,"wires":[]},{"id":"f2c249b7.0d08b","type":"ui_form","z":"61bd99ec.28678","name":"","label":"Hey i am your cophee Bot.Welcome to the coffee world!!","group":"7b930cf8.448754","order":1,"width":12,"height":3,"options":[{"label":"enter your query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":250,"y":60,"wires":[["267acb3.f5dd434"]],"icon":"font-awesome/fa-address-card"},{"id":"267acb3.f5dd434","type":"function","z":"61bd99ec.28678","name":"","func":"msg.payload=msg.payload.query \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":280,"wires":[["b1ec9531.44d8f","1f8c761e.77ed0a"]]},{"id":"b1ec9531.44d8f","type":"ui_text","z":"61bd99ec.28678","group":"7b930cf8.448754","order":4,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-left","x":350,"y":440,"wires":[]},{"id":"68cbd424.fea31c","type":"function","z":"61bd99ec.28678","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1)\n{\n    msg.payload.text=msg.payload.context.webhook_result_1.results[0].text;\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["15bc0b3b.3b770d"]]},{"id":"15bc0b3b.3b770d","type":"ui_text","z":"61bd99ec.28678","group":"8e0a04fe.d538f8","order":1,"width":12,"height":16,"name":"","label":"response:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":420,"wires":[]},{"id":"1f8c761e.77ed0a","type":"watson-conversation-v1","z":"61bd99ec.28678","name":"assistant","workspaceid":"ff65ddf6-7ae6-45ab-a357-af6da9958c20","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9708d22a-93c3-4e27-8a02-d930cffb7ae4","timeout":"","optout-learning":false,"x":460,"y":280,"wires":[["8255a3f9.3e6c98","68cbd424.fea31c"]]},{"id":"7b930cf8.448754","type":"ui_group","z":"","name":"CHAT","tab":"d9f9c55.40d0438","order":1,"disp":true,"width":"12","collapse":false},{"id":"8e0a04fe.d538f8","type":"ui_group","z":"","name":"Answer","tab":"d9f9c55.40d0438","order":2,"disp":true,"width":12,"collapse":false},{"id":"d9f9c55.40d0438","type":"ui_tab","z":"","name":"COFFEE CAFE","icon":"dashboard","disabled":false,"hidden":false}]